name: GitHub CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

defaults:
  run:
    shell: 'bash -o errexit -o nounset -o pipefail {0}'

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        groovy-version:
          - groovy-3
          - groovy-4
          - groovy-5
        java-version:
          - jdk8
          - jdk11
          - jdk17
          - jdk21
        variant:
          - ''
          - '-alpine'
        exclude:
          - groovy-version: groovy-5
            java-version: jdk8
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: build
        run: |
          cd "${{ matrix.groovy-version }}/${{ matrix.java-version }}${{ matrix.variant }}"
          grep "FROM " Dockerfile | cut -d' ' -f2 | xargs -I{} docker pull {}
          docker build --tag "groovy:${{ matrix.groovy-version }}-${{ matrix.java-version }}${{ matrix.variant }}" .
      - name: test
        run: |
          # Extract version from Dockerfile
          groovyVersion=$(grep "ENV GROOVY_VERSION=" "${{ matrix.groovy-version }}/${{ matrix.java-version }}${{ matrix.variant }}/Dockerfile" | cut -d= -f2)
          
          cd test
          ./run.sh "groovy:${{ matrix.groovy-version }}-${{ matrix.java-version }}${{ matrix.variant }}" "${groovyVersion}"
